/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */

 @font-face {
    font-family: hpfont;
    src: url('../fonts/HARRYP__.TTF');
 }

 @font-face {
     font-family: amatic;
     src: url('../fonts/AmaticSC-Regular.ttf');
 }

 .bold {
     font-weight: bold;
 }

 h1 {
     font-size: 10em;
 }

 * {
     color: #ffffff;
 }

article h2 {
    font-family: amatic;
    font-size: 60px;
    margin: 25px 0;
    line-height: 1em;
}

.story {
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.sprite {
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center; 
    background-size: 400px;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    margin: 0 auto;
}

/* First section styles */
#first {
    background: #000000;
}
#first video {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
}
#first article {
    width: 100%;
    top: 150px;
    position: absolute;
    text-align: center;
}
#first .sprite#letter {
    background-image: url(../images/letter.png);
}
#first .sprite#sparkle {
    background-image: url(../images/sparkle-overlay.png);
}
#first .sprite#sparkle-2 {
    background-image: url(../images/sparkle-overlay.png);
}

/* Second section styles */
#second {
    background-image: url(../images/letters-room.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#second .sprite#owl {
    background-image: url('../images/owl.png');
}

/* Third section styles */
#third {
    background-image: url(../images/camden.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#fourth {
    background: url(../images/magic-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#theend {
    background: url(../images/puckered.png) 50% bottom no-repeat fixed;
}

/* Introduction */

/* Background Only */

#second article {
    background: url(../images/grain.png) repeat #333;
    color: #fff;
    width: 445px;
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.1);
}

#second article p {
    margin-bottom: 25px;
}

#second article a {
    color: #ff0;
}

/* Photograph */
#third article {
    background: url(../images/grain.png) repeat #333;
    color: #fff;
    padding: 10px 20px;
    margin: 100px 0 0 60%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    color: #fff;
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.1);
}

#third article p {
    width: 300px;
    margin-bottom: 25px;
}

/* HTML5 Video */
#fourth article {
    margin-left: 10%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    color: #fff;
    position: absolute;
    top: 0;
}

#fourth article p {
    width: 300px;
    margin: 50px 0;
}

#fourth video {
    position: fixed;
    left: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* The End */
#theend .byebye {
    background: url(../images/theend.png) 40% 100px no-repeat fixed;
    height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}