/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */

 @font-face {
    font-family: hpfont;
    src: url('../fonts/HARRYP__.TTF');
 }

 @font-face {
     font-family: amatic;
     src: url('../fonts/AmaticSC-Regular.ttf');
 }

 .bold {
     font-weight: bold;
 }
 .italic {
     font-style: italic;
 }
 .strikethrough {
     text-decoration: line-through;
 }

 h1 {
     font-size: 10em;
 }

 * {
     color: #ffffff;
 }

article h2 {
    font-family: amatic;
    font-size: 60px;
    margin: 25px 0;
    line-height: 1em;
}
article p {
    margin-bottom: 25px;
}
article {
    text-align: center;
}

.story {
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.sprite {
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center; 
    background-size: 400px;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    margin: 0 auto;
    transform-origin: center center;
}

.emoji-line {
    font-size: 30px;
}

.hp-theme,
a.hp-theme {
    color: #dca012;
    font-weight: bold;
    font-family: hpfont;
    font-size: 30px;
    text-decoration: none;
}

/* First section styles */
#first {
    background: #000000;
}
#first video {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
}
#first article {
    width: 100%;
    top: 150px;
    position: absolute;
    text-align: center;
}
#first .sprite#letter {
    background-image: url(../images/letter.png);
}
#first .sprite#sparkle {
    background-image: url(../images/sparkle-overlay.png);
}
#first .sprite#sparkle-2 {
    background-image: url(../images/sparkle-overlay.png);
}

/* Second section styles */
#second {
    background-image: url(../images/letters-room.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#second .sprite#owl {
    background-image: url('../images/owl.png');
}
#second article {
    background: url(../images/grain.png) repeat #333;
    color: #fff;
    width: 445px;
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.1);
}

/* Third section styles */
#third {
    background-image: url(../images/camden.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#third article {
    background: url(../images/grain.png) repeat #333;
    color: #fff;
    padding: 10px 20px;
    margin: 100px 0 0 60%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    color: #fff;
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.1);
}
#third article p {
    width: 350px;
    margin-bottom: 25px;
}
#third #food-1 {
    background-image: url('../images/food-1.png');
}
#third #food-2 {
    background-image: url('../images/food-2.png');
}
#third #food-3 {
    background-image: url('../images/food-3.png');
}

/* Fourth section styles */
#fourth {
    background: url(../images/magic-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#fourth article {
    background: url(../images/grain.png) repeat #333;
    color: #fff;
    width: 445px;
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.1);
}
#fourth #potion-1 {
    background-image: url('../images/potion-1.png');
    background-size: 200px;
}
#fourth #potion-2 {
    background-image: url('../images/potion-2.png');
    background-size: 150px;
}
#fourth #potion-3 {
    background-image: url('../images/potion-3.png');
    background-size: 250px;
}
#fourth #potion-4 {
    background-image: url('../images/potion-4.png');
    background-size: 100px;
}
#fourth a {
    position: relative;
    z-index: 100;
}

#fifth {
    background: url(../images/bar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#fifth article {
    background: url(../images/grain.png) repeat #333;
    color: #fff;
    padding: 10px 20px;
    margin: 100px auto 0;
    left: 0;
    right: 0;
    width: 400px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    color: #fff;
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.1);
}
#fifth .hp-theme {
    font-size: 50px;
}
#fifth #fireworks {
    background-image: url('../images/fireworks.png');
    background-size: 800px;
}
#fifth #fireworks-flipped {
    background-image: url('../images/fireworks-flipped.png');
    background-size: 800px;
}
